boto3
pinecone
pinecone-text
langchain
langchain_community
pypdf
langchain_core
pyreadline3
langgraph
langchain_openai
streamlit
awscli
deepeval
faiss-cpu
llama-index
llama-cloud-services
fastapi
uvicorn
