boto3
pinecone
pinecone-text
langchain
langchain_community
pypdf
langchain_core
pyreadline3
langgraph
langchain_openai
awscli
deepeval
chromadb
faiss-cpu
fastapi
uvicorn
pandas
psycopg[binary]
psycopg2-binary
psycopg_pool
pgvector
passlib[bcrypt]
bcrypt
python-jose
python-multipart
asyncpg
redis[async]
langgraph-checkpoint-redis
