boto3
pinecone
pinecone-text
langchain
langchain_community
pypdf
langchain_core
pyreadline3
ipython
langgraph
langchain_groq
langchain_openai
streamlit
awscli
deepeval
chromadb
langchain_huggingface
faiss-cpu
llama-index
llama-cloud-services
